/* @media (min-width: 320px) {
} */
@media (min-width: 768px) and (max-width 1199px) {
  .main {
    display: flex;
    flex-direction: row-reverse;
    width: 768px;
  }
  .main-box {
    width: 488px;
    padding: 25px 10px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  }
  .sidebar {
    width: 290px;
  }
  .photo {
    width: 290px;
  }
}
@media (min-width: 1200px) {
  .main {
    width: 1200px;
  }
  .main-box {
    padding: 105px 90px 25px 90px;
  }
  .about-description {
    width: 400px;
  }
  .sidebar {
    padding-top: 40px;
    width: 370px;
  }
  .photo {
    width: 370px;
    margin-bottom: 50px;
  }
}
